*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}

body{
    font-family: 'Microsoft YaHei'!important;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.header_banxin{
    width: 1100px;
    height:75px;
    display: inline-block;
    overflow: hidden;
}
.banxin{
    width: 1100px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.white{
    color: #ffffff !important;
}
.white_border{
    border: 2px solid #ffffff !important;
}

/* 一、header部分 */
.active{
    color: #00adb4 !important;
}
.header_display{
    display: none !important;
}
.h_act{
    color: #00adb4 !important;
}
.h_active{
    display: inline-block !important;
}
.header_active{
    background-color: #fafafa !important;
}
.headerContent_active{
    color: #666666 !important;
}
.login_active{
    color: #666666 !important;
}
.loginBorder_active{
    border: 1px solid #666666 !important;
}
header{
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    text-align: center;
    z-index: 1000;
}
.header_l{
    margin-top: 17px;
    width: 117px;
    height: 41px;
    float: left;
}   
.header_l>img{
    width: 117px;
    height: 41px; 
}
.logo{
    display: none;
}
.header_m{
    float: left;
}
.header_m li{
    width: 100px;
    height: 75px;
    font-size: 14px;
    color: #ffffff;
    float: left;
    text-align: center;
}
.header_m li:nth-child(1){
    margin-left: 70px;
    width: 80px;
}
.header_m li:last-child{
    width: 80px;
}
.header_m li>p{
    display: block;
    line-height: 0;
    margin-top: 36px;
}
.header_m li>p>span{
    cursor: pointer;
}
.header_m li>div{
    display: inline-block;
    margin-top: 14px;
    border-top: 3px solid #00adb4;
    width: 28px;
}
.header_r{
    width: 10%;
    height: 75px;
    float: right;
}
.header_phone{
    font-size: 14px;
    float: right;
    margin-top: 28px;
    margin-left: 38px;
    color: #ffffff;
}
.headerphone,.headerphone1{
    width: 9px;
    height: 13px;
}
.headerphone1{
    display: none;
}
.header_r .login{
    width: 98px;
    height: 33px;
    line-height: 33px;
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 22px;
}
.header_r .login span:nth-child(1){
    cursor: pointer;
}
.header_r .login span:nth-child(1):hover{
    color: #00adb4;
}
.header_r .login span:nth-child(3){
    cursor: pointer;
}
.header_r .login span:nth-child(3):hover{
    color: #00adb4;
}
.header_r>.login>p{
    color: #ffffff;
    line-height: 16px;
}

/*十一、footer部分 */
footer{
    width: 100%;
    height: 300px;
    background-color: #293647;
    min-width: 1100px;
}
.footer{
    width: 1100px;
    height: 222px;
    margin: 0 auto;
}
.footer>ul{
    overflow: hidden;
}
.footer>ul>li{
    float: left;
    width: 300px;
    height: 222px;
    margin-right: 100px;
    text-align: center;
}
.footer>ul>li:nth-child(3){
    text-align: center;
    margin-right: 0;
}
.footer>ul>li>div:nth-child(1){
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    margin-top: 58px;
}
.footer>ul>li>div:nth-child(2){
    font-size: 14px;
    color: #ffffff;
    margin-top: 57px;
    text-align: center;
}
.ewm{
    margin-top: 10px !important;
}
.ewm>div{
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
}

.ewm>div>img:hover{
    animation: ewm 0.2s  ease-in-out forwards;
}
@keyframes ewm{
    0%{
    }
    100%{
        transform: scale(1.2);
    }
}
.ewm>div:nth-child(1){
    padding-top: 40px;
}
.ewm>div:nth-child(2){
    padding-top: 40px;
}
.ewm>div>span{
    display: block;
    font-size: 14px;
    margin-top: 9px;
}

.line{
    width: 100%;
    border-bottom: 3px solid #394657;
}
.bottom{
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

/* 十二、客服 */
.phone{
    width: 150px;
    height: 100px;
    position: fixed;
    right: 2%;
    top: 60%;
    z-index: 2;
}
.phone>a>img{
    width: 160px;
    height: 110px;
}