*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}

body{
    font-family: 'Microsoft YaHei'!important;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header_banxin{
    width: 1200px;
    height: 110px;
    display: inline-block;
    overflow: hidden;
}
.banxin{
    width: 1200px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.fanzhuan1{
    transform: rotateY(360deg) !important;
    -moz-transform: rotateY(360deg) !important;
    -ms-transform: rotateY(360deg) !important;
    -o-transform: rotateY(360deg) !important;
    -webkit-transform: rotateY(360deg) !important;
}
.fanzhuan2{
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

/* 公共头部 */
.old{
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 110px;
}
.even{
    width: 100%;
    background-color: #fafafa;
    padding-bottom: 110px;
}
.common_title{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 98px;
    position: relative;
}
.common_title>img{
    position: absolute;
    bottom: 96px;
    left: 38%;
}
.common_title p:nth-child(2){
    font-size: 30px;
}
.common_title span{
    display: block;
    font-size: 14px;
    margin-top: 9px;
    color: #666
}
.common_title>div{
    width: 32px;
    border: 2.5px solid #00adb4;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
.common_bottom{
    padding-bottom: 43px !important;
}

/* 一、header部分 */
.active{
    color: #00adb4 !important;
}
.header_active{
    background-color: #fafafa !important;
}
.headerContent_active{
    color: #666666 !important;
}
.login_active{
    color: #00adb4 !important;
}
.loginBorder_active{
    border: 1px solid #00adb4 !important;
}
header{
    position: fixed;
    height: 88px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    text-align: center;
    z-index: 1000;
}
.header_l{
    margin-top: 16px;
    width: 151px;
    height: 57px;
    float: left;
}   
.header_l>img{
    width: 150px;
    height: 57px; 
}
.logo{
    display: none;
}
.header_m{
    float: left;
}
.header_m ul{
    overflow: hidden;
}
.header_m li{
    margin-top: 40px;
    font-size: 16px;
    color: #ffffff;
    float: left;
    cursor: pointer;
    margin-left: 59px;
    text-align: center;
}
.header_m li>p{
    line-height: 8px;
}
.header_m li>div{
    display: inline-block;
    margin-top: 5px;
    border-top: 3px solid #00adb4;
    width: 22px;
}
.header_r{
    width: 10%;
    height: 88px;
    float: right;
}
.header_r .login {
    width: 96%;
    height: 32px;
    line-height: 32px;
    margin-top: 28px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 22px;
}
.header_r>.login>a{
   color: #ffffff;
}
.header_phone{
    float: right;
    margin-top: 34px;
    margin-left: 38px;
    color: #ffffff;
}
/* 二、banner部分 */
.banner{
    width: 100%;
    position: relative;
}  
.banner_out{
    width: 100%;
    height: 99.4%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.banner_banxin{
    width:1200px;
    height: 100%;
    display: inline-block;
    position: relative;
}
.one{
    width: 100%;
    overflow: hidden;
}
.two{
    width: 100%;
    overflow: hidden;
}
.one>img{
     width: 100%; 
}
.two>img{
    width: 100%;
}
.consult{
    width: 142px;
    position: absolute;
    left: 0;
    bottom: 24%;
}
.consult>img{
    width: 100%;
}
.video_box{
    width: 466px;
    position: absolute;
    top:30%;
    right: 0;
}
video{
    width: 100%;
}
.banner_content{
    width: 360px;
    position: absolute;
    bottom:43%;
    left:0;
}
.banner_content>img{
    width: 100%;
}

.swiper-pagination-bullet{
    width: 64px;
    height: 5px;
    border: 1px solid #ffffff !important;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
.swiper-pagination-bullet-active{
    background-color: #ffffff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 40px;
}

/* 三、advantage部分 */
.out_advantage{
    width: 100%;
}
.advantage{
    overflow: hidden;
    opacity: 0;
}
.advantage ul li{
    /* height: 240px; */
    width: 21.7%;
    float: left;
    margin: 0 1.58%;
    text-align: center;
}
.advantage ul li img{
    width: 132px;
    height: 106px;
}
.advantage ul li p:nth-child(2){
    font-size: 20px;
    margin-top: 18px;
}
.advantage ul li p:nth-child(3){
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

/* 四、背调部分 */
.back_service{
    overflow: hidden;
    height: 532px;
    opacity: 0;
}
.back_service .back_service_box{
    width: 27.2%;
    height:474px;
    float: left;
    cursor: pointer;
    padding-top: 45px;
    margin-left: 4.5%;
    position: relative;
}
.back_service .back_service_box:nth-child(1){
    margin-left: 6.8%;
}
.back_service .back_service_box .back_service_content{
    height: 426px;
    width: 87.99%;
    padding: 0 20px;
    box-shadow: 0 0 20px #e1e1e1;
    position: relative;
    border-radius: 8px;
    top: 20px;
}

.front{
    position: absolute;
	background-position: 0 bottom;
}
.back{
	position: absolute;
    backface-visibility: hidden !important;
    -moz-backface-visibility: hidden !important;
    -ms-backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
    transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	background-position: -305px bottom;
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.back_service_title{
    width: 100%;
    height: 60px;
    margin-top: 28px;
    position: relative;
    border-bottom: 2px solid #f8f8f8;
}
.back_service_title_l{
    width: 180px;
    font-size: 24px;
    float: left;
    position: absolute;
    bottom: 10px;
}
.back_service_title_r{
    width: 80px;
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 42px;
    height: 80px;
    line-height: 94px;
    color: #ffffff;
    background-color:#fa8a07;
    border-radius: 47px;
    border: 0 0 8px #ffffff;
    z-index: 1;
}
.back_service_title_r span:nth-child(1){
    font-size: 28px;
    position: absolute;
    left: 5px;
    bottom: -10px;
}
.back_service_title_r span:nth-child(2){
    font-size: 36px;
    position: absolute;
    left: 30px;
    top: -5px;
}
.back_service_t{
    font-size: 16px;
    color: #666; 
    padding-top: 10px;
}
.back_service_m{
    padding-top: 21px;
    /* background-color: green; */
}
.back_service_m li{
    font-size: 15px;
    color: #999;
    position: relative;
    padding-left: 24px;
    line-height: 26px;
}
.back_service_m li span{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #00adb4;
    color: #ffffff;
    position: absolute;
    border-radius: 9px;
    top: 6px;
    left: 0;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
}
.back_service_b{
    width: 38%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    background-color: #00adb4;
    border-radius: 40px;
    text-align: center;
    position: absolute;
    left: 31%;
    bottom: 30px;
}
.back_service_bt{
    margin-top: 132px !important;
}

/* 反面 */
.back_service .back_service_box .back_service_content1{
    height: 468px;
    width: 96.8%;
    padding: 0 20px;
    box-shadow: 0 0 20px #e1e1e1;
    position: relative;
    border-radius: 8px;
    color: #ffffff;
    background-color: #00adb4;
    margin-top: -21px;
    margin-left: -13px;
}
.back_service_title1{
    width: 100%;
    height: 66px;
    margin-top: 28px;
    position: relative;
    background-color: #00adb4;
    border: none;
}
.back_service_title_l1{
    width: 180px;
    font-size: 26px;
    float: left;
    position: absolute;
    bottom: 10px;
}
.back_service_title_r1{
    width: 88px;
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 42px;
    height: 88px;
    line-height: 94px;
    color: #fa8a07;
    background-color: #ffffff;
    border-radius: 47px;
    border: 0 0 8px #ffffff;
    z-index: 1;
}
.back_service_title_r1 span:nth-child(1){
    font-size: 30px;
    position: absolute;
    left: 5px;
    bottom: -5px;
}
.back_service_title_r1 span:nth-child(2){
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: -4px;
}
.back_service_t1{
    font-size: 18px;
    padding-top: 10px;
    color: #ffffff;
    border-top: 4px solid #6ad0d4;
    background-color: #00adb4;
}
.back_service_m1{
    padding-top: 21px;
    /* background-color: green; */
}
.back_service_m1 li{
    font-size: 16px;
    color: #ffffff;
    position: relative;
    padding-left: 24px;
    line-height: 26px;
}
.back_service_m1 li span{
    display: block;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    color: #00adb4;
    position: absolute;
    border-radius: 9px;
    top: 6px;
    left: 0;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
}
.back_service_b1{
    width: 40%;
    height: 44px;
    font-size: 20px;
    line-height: 44px;
    color: #00adb4;
    background-color: #ffffff;
    border-radius: 40px;
    text-align: center;
    position: absolute;
    left: 29%;
    bottom: 30px;
}
.back_service_bt1{
    margin-top: 132px !important;
}


/* 五、backflow部分 */
.flow{
    overflow: hidden;
    opacity: 0;
}
.flow li:nth-child(2n+1){
    height: 178px;
    width: 15%;
    float: left;
    text-align: center;
}
.flow li:first-child{
    margin-left: 8.4%;
}
.flow_content{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 0 0 20px #e1e1e1;
    position: relative;
}
.flow li:nth-child(2n){
    height: 178px;
    width: 2%;
    float: left;
    text-align: center;
    line-height: 178px;
}
.flow_t{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    background-color: #00adb4;
    font-size: 20px;
    margin-left: 12px;
    position: absolute;
    top: -15px;
}
.flow img{
    width: 66px;
    height: 66px;
    margin-top: 15px;
}
.flow p{
    font-size: 18px;
    color: #666;
}
.next{
    width: 12px !important;
    height: 25px !important;
}

/*六、应用场景*/
.sence{
    overflow: hidden;
    opacity: 0;
}
.sence li{
    width: 20%;
    height: 330px;
    float: left;
    position: relative;
    cursor: pointer;
}
.sence li:hover .sence_one{
    animation: show  0.5s  ease-in-out forwards;
}
@keyframes show{
       0%{
            opacity: 0;
       } 
       100%{
             opacity: 1;
       }
}
.sence li:hover .sence_two{
    animation: hide  0.5s  ease-in-out forwards;
}
@keyframes hide{
       0%{
            opacity: 1;
       } 
       100%{
             opacity: 0;
       }
}
.sence li>img{
    width:100%;
    height: 100%;
}
.sence_one{
    width: 100%;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 100px;
    background-color: rgba(0,0,0,.6);
    color: #ffffff;
    opacity: 0;
}
.sence_two{
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    color: #ffffff;
}
/* 七、服务客服 */
.service{
    opacity: 0;
}
.service>img{
    width: 100%;
}
/* 八、新闻资讯 */
/* 插件slide 和 news */


/* 九、footer部分 */
footer{
    width: 100%;
    height: 300px;
    background-color: #293647;
}
.footer{
    width: 1200px;
    height: 222px;
    margin: 0 auto;
}
.footer>ul{
    overflow: hidden;
}
.footer>ul>li{
    float: left;
    width: 300px;
    height: 222px;
    margin-right: 150px;
    text-align: center;
}
.footer>ul>li:nth-child(3){
    text-align: center;
    margin-right: 0;
}
.footer>ul>li>div:nth-child(1){
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    margin-top: 58px;
}
.footer>ul>li>div:nth-child(2){
    font-size: 14px;
    color: #ffffff;
    margin-top: 57px;
    text-align: center;
}
.ewm{
    margin-top: 58px;
}
.ewm>div{
    width: 50%;
    float: left;
    text-align: center;
}
.ewm>div>span{
    display: block;
    font-size: 14px;
    margin-top: 9px;
}

.line{
    width: 100%;
    border-bottom: 3px solid #394657;
}
.bottom{
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

/* 十、客服 */
.phone{
    width: 150px;
    height: 100px;
    position: fixed;
    right: 2%;
    top: 60%;
    z-index: 2;
}
.phone>img{
    width: 160px;
    height: 110px;
}



