* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SimSun";
}

.wrap {
    width: 630px;
    margin: 0 auto;
    padding-top: 40px;
}

.newsTitle h1 {
    font-size: 22px;
    color: #333;
    border-bottom: 1px solid #ededf0;
    padding-bottom: 15px;
}

.newsTime {
    margin: 15px 0 40px 0;
    line-height: 15px;
}

.newsTime span {
    font-size: 15px;
    color: #b3b3b3;
    line-height: 25px;
}

.newsTime .company {
    color: #455b89;
}

.content p {
    color: #333;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 30px;
}

.content img {
    width: 100%;
    margin: 40px 0;
}

