
     * {
        margin: 0;
        padding: 0;
    }
    
    body {
        width: 100vw;
        font-family: "SimSun";
    }
    
    .wrap {
        width: 100vw;
        padding: .56rem .533333rem 0 .533333rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .newsTitle h1 {
        font-size: .453333rem;
        color: #333;
        padding-bottom: .2rem;
        text-align: justify;
    }
    
    .newsTime {
        margin: .533333rem 0 1.133333rem 0;
        line-height: 15px;
    }
    
    .newsTime span {
        font-size:.346667rem;
        color: #b3b3b3;
        line-height: 25px;
    }
    
    .newsTime .company {
        color: #455b89;
    }
    
    .content p {
        color: #333;
        font-size:.346667rem;
        line-height: .746667rem;
        text-align: justify;
        margin-bottom: .64rem;
    }
    
    .content img {
        width: 100%;
        margin: 40px 0;
    }
    